.container{
    background-image:url('../assets/img1.jpg');
    background-position:center;
    background-size: cover;
    height:600px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: flex-start
}
.left{
    width: 40%;
    color: rgb(255, 0, 0);
    font-size:20px;
}
button{
    width: 20px;
    height: 50px;
}